.con {
  width: 1200px;
  margin: auto;
}
hr {
  border-width: 3px;
}
.img {
  width: 300px;
  border-radius: 2rem;
}
@media (max-width: 768px) {
  .img {
    width: 200px;
  }
}
@media (max-width: 450px) {
  .con {
    font-size: 80%;
  }
  .img {
    width: 150px;
  }
}
