body hr {
  width: 200px;
  height: 3px;
  background-color: rgb(249, 179, 87);
  margin: 0 auto;
  border: nome;
}
.ttt {
  width: 270px;
  text-align: left;
}
section {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container .contactInfo .title-kon {
  width: 200px;
}
.con {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
}
.con .col-12 span img {
  width: 50px;
}
.container .contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);

  background: rgb(240, 193, 131);
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}
/* .container .contactInfo h2 {
  color: black;
  font-size: 24px;
  font-weight: 500;
} */

.container .contactForm {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: beige;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
/* .container .contactForm h2 {
  font-size: 24px;
  font-weight: 500;
} */
.container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.container .contactForm .formBox .inputBox {
  position: relative;
  margin-bottom: 35px;
}
.container .contactForm .formBox .inputBox.w50 {
  width: 50%;
}
.container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}
.container .contactForm .formBox .inputBox textarea {
  height: 120px;
}
.container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .con {
    min-width: 900px;
  }
  .container .contactForm {
    width: calc(100% - 200px);
  }
}
@media (max-width: 768px) {
  .con {
    min-width: 700px;
  }
  .container .contactInfo {
    width: 300px;
  }
  .container .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
  .con .col-12 span img {
    width: 30px;
    margin-right: 10px;
  }
  .ttt {
    width: 220px;
  }
  .container .contactForm {
    width: calc(100% - 150px);
    margin-left: 100px;
  }
}
@media (max-width: 450px) {
  .con {
    min-width: 100px;
  }
  .container .contactForm .formBox {
    padding-top: 10px;
  }
  .col-12 a {
    font-size: x-small;
  }
  .container .contactInfo {
    width: 100px;
    text-align: center;
  }

  .con .col-12 span img {
    width: 30px;
    margin-right: 10px;
  }
  .ttt {
    width: 200px;
  }
  .container .contactForm {
    width: calc(100% - 700px);
    margin-left: 50px;
  }
  .isi {
    width: 200px;
    transform: translate(-90%, 40%);
  }
  .top {
    transform: translate(250%, -40%);
  }
}
