.con {
  min-height: 400px;
}
.btn-gede {
  margin: 10px;
  font-size: 36px;
  padding: 70px;
}
@media (max-width: 768px) {
  .btn-gede {
    font-size: 70px;
    padding: 70px;
  }
}
@media (max-width: 768px) {
  .btn-gede {
    font-size: 14px;
    padding: 30px;
  }
}
